$grey: #ccc;
$red: #f00;

.product {
  border: 1px solid $grey;
  display: flex;
  flex-grow: 1;
  margin: 10px;
  max-width: calc(50% - 50px);
  padding: 10px;

  &__details {
    margin-left: 10px;
  }

  &__offer {
    color: $red;
    word-break: normal;
  }

  .quantity-form {
    &__button {
      cursor: pointer;
      height: 40px;
      width: 40px;
    }

    input {
      border: 1px solid $grey;
      line-height: 38px;
      margin: 0 5px;
      padding: 0;
      text-align: center;
      width: 38px;
    }
  }
}
